<!DOCTYPE html>
<html>
<head>
  <title>Courses</title>
  <link rel="stylesheet" href="/css/style.css" />
</head>
<body>
  <h1>Available Courses</h1>
  <div id="coursesList"></div>
  <script src="/js/courses.js"></script>
</body>
</html>
